html {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    text-align: center;
}

/* Back to Main Page Button */
.info-buttons {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
  
.info-button {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.6rem 1.2rem;
    background-color: white;
    color: #333;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.2s, background-color 0.2s;
    font-size: 20px;
}
  
.info-button i {
    margin-right: 0.5rem;
}
  
.info-button:hover {
    background-color: lightgray;
    transform: scale(1.05);
}

h1 {
    font-size: 50px;
}

.credits-section p {
    font-size: 20px;
}

.credits-section a {
    color: white;
}

h4 {
    font-size: 18px;
}

h2 {
    font-size: 30px;
}

.contact-section p {
    font-size: 18px;
}

.contact-section a {
    color: white;
}

footer {
    font-size: 20px;
  }